!!! 5
html
	head
		link(rel='stylesheet',href='/css/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/css/bootstrap/css/bootstrap-responsive.min.css')
		
		block meta
		block css
		block script
	body
		block content